///-----------------------------------------------------------------------------
///  OBJECT: TABLE
///-----------------------------------------------------------------------------
///
///  Enhancements for default <table> elements.
///

@if ( ui-load( "objects", "table" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: TABLE
 *-----------------------------------------------------------------------------*
 *
 *  Enhancements for default <table> elements.
 *
 */

///
/// @block        Table
/// @description  Default table object.
///
%o-table {

  --border: 1px solid transparent;
  --cell-padding: 0.5em 1em;
  --cell-padding--condensed: 0.25em 0.5em;
  --thead-color: inherit;
  --thead-background: inherit;
  --striped-background: var(--color-light);

  width: 100%;

  thead {
    background-color: var(--thead-background);
    color: var(--thead-color);
  }
  th, td {
    padding: var(--cell-padding);
  }
}

///
/// @modifier     Table Condensed
/// @description  Table with condensed cell space.
///
%o-table--condensed {

  th, td {
    padding: var(--cell-padding--condensed);
  }
}

///
/// @modifier     Table Bordered
/// @description  Table with borders.
///
%o-table--bordered {

  thead, tbody {
    border-right: var(--border);
    border-bottom: var(--border);
  }
  th, td {
    border-top: var(--border);
    border-left: var(--border);
  }
}

///
/// @modifier     Table Striped
/// @description  Table with zebra stripes.
///
%o-table--striped {

  tbody tr:nth-of-type(even) td {
    background-color: var(--striped-background);
  }
}

///
/// @modifier     Table Fixed
/// @description  Table with fixed-width columns.
///
%o-table--fixed {
  table-layout: fixed;
}

} // ui-load()
