///-----------------------------------------------------------------------------
///  OBJECT: LINK
///-----------------------------------------------------------------------------
///
///  Simple textual link.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$o-link: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  text-decoration: underline,
  color: null,
  border: 0,

  "hover": (
    text-decoration: underline,
    color: ui-color( "primary" ),
    border: null,
  ),

), $o-link );


@if ( ui-load( "objects", "link" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: LINK
 *-----------------------------------------------------------------------------*
 *
 *  Simple textual link.
 *
 */

///
/// @block        Link
/// @description  Default Link block.
///
%o-link {
  @extend %transition !optional;

  text-decoration: map-get-deep( $_config, "text-decoration" );
  text-decoration-skip-ink: auto;

  color: map-get-deep( $_config, "color" );
  border-bottom: map-get-deep( $_config, "border" );

  appearance: none;

  &:hover {
    text-decoration: map-get-deep( $_config, "hover", "text-decoration" );
    color: map-get-deep( $_config, "hover", "color" );
    border-bottom: map-get-deep( $_config, "hover", "border" );
  }
}

} // ui-load()
