///-----------------------------------------------------------------------------
///  OBJECT: TABLE
///-----------------------------------------------------------------------------
///
///  Enhancements for default <table> elements.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$o-table: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  "border": null,

  "cell-padding": 0.5em 1em,

  "thead-color": null,
  "thead-background": null,

  "stripe-background": null,

), $o-table );


@if ( ui-load( "objects", "table" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: TABLE
 *-----------------------------------------------------------------------------*
 *
 *  Enhancements for default <table> elements.
 *
 */

///
/// @block        Table
/// @description  Default table object.
///
%o-table {
  width: 100%;

  thead {
    background-color: map-get( $_config, "thead-background" );
    color: map-get( $_config, "thead-color" );
  }
  th, td {
    padding: map-get( $_config, "cell-padding" );
  }
}

///
/// @modifier     Table Condensed
/// @description  Table with condensed cell space.
///
%o-table--condensed {
  $_pad: nth( map-get( $_config, "cell-padding" ), 1 ) / 2;

  th, td {
    padding-top: $_pad;
    padding-bottom: $_pad;
  }
}

///
/// @modifier     Table Bordered
/// @description  Table with borders.
///
%o-table--bordered {

  thead, tbody {
    border-right: map-get( $_config, "border" );
    border-bottom: map-get( $_config, "border" );
  }
  th, td {
    border-top: map-get( $_config, "border" );
    border-left: map-get( $_config, "border" );
  }
}

///
/// @modifier     Table Striped
/// @description  Table with zebra stripes.
///
%o-table--striped {

  tbody tr:nth-of-type(even) td {
    background-color: map-get( $_config, "stripe-background" );
  }
}

///
/// @modifier     Table Fixed
/// @description  Table with fixed-width columns.
///
%o-table--fixed {
  table-layout: fixed;
}

} // ui-load()
