///-----------------------------------------------------------------------------
///  OBJECT: TEXT SEPARATOR
///-----------------------------------------------------------------------------
///
///  Horizontal divider with text in the center.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$o-text-separator: () !default;

///
/// @var    {Map}
/// @access private
///
/// 1. line thickness of separator
///
$_config: map-merge( (

  "line-thickness": 1px,

  font-family: null,
  font-size: null,
  font-weight: null,
  font-style: null,
  letter-spacing: null,
  text-transform: null,

), $o-text-separator );


@if ( ui-load( "objects", "text-separator" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: TEXT SEPARATOR
 *-----------------------------------------------------------------------------*
 *
 *  Horizontal divider with text in the center.
 *
 */

///
/// @block        Text Separator
/// @description  Default text separator.
///
%o-text-separator {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-family: map-get( $_config, "font-family" );
  font-size: map-get( $_config, "font-size" );
  font-weight: map-get( $_config, "font-weight" );
  font-style: map-get( $_config, "font-style" );
  letter-spacing: map-get( $_config, "letter-spacing" );
  text-transform: map-get( $_config, "text-transform" );

  white-space: nowrap;

  &::before, &::after {
    content: "";
    flex-grow: 1;
    height: map-get( $_config, "line-thickness" );
    background: currentColor;
  }
  &::before {
    margin-right: 1em;
  }
  &::after  {
    margin-left: 1em;
    transform: rotate( 180deg );
  }
}

///
/// @modifier     Text Separator Fade
/// @description  Separator with line(s) that fade out.
///
%o-text-separator--fade {
  &::before, &::after {
    background: linear-gradient( to left, currentColor, transparent 90% );
  }
}

///
/// @modifier     Text Separator Left
/// @description  Left-aligned separator.
///
%o-text-separator--left {
  &::before {
    display: none;
  }
}

///
/// @modifier     Text Separator Thick
/// @description  Right-aligned separator.
///
%o-text-separator--right {
  &::after {
    display: none;
  }
}

} // enabled
