///-----------------------------------------------------------------------------
///  OBJECT: FLUID PAD
///-----------------------------------------------------------------------------
///
///  Responsive padding which increases relatively to the viewport width.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$o-fluid-pad: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  "min": ui-spacing(),
  "max": ui-spacing( "l" ),

  "multiplier":  1.0,

), $o-fluid-pad );


@if ( ui-load( "objects", "fluid-pad" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: FLUID PAD
 *-----------------------------------------------------------------------------*
 *
 *  Responsive padding which increases relatively to the viewport width.
 *
 */

$_min: map-get( $_config, "min" );
$_max: map-get( $_config, "max" );
$_mul: map-get( $_config, "multiplier" );

///
/// @block        Fluid Pad
/// @description  Defaul Fluid Pad block.
///
%o-fluid-pad {
  @if ( $_min and $_max ) {
    @include fluid( "padding", $_min, $_max * $_mul );
  }
}

///
/// @modifier     Fluid Pad Sides
/// @description  Pad only on left and right sides.
///
%o-fluid-pad--sides {
  @if ( $_min and $_max ) {
    @include fluid( "padding", 0 $_min, 0 $_max * $_mul );
  }
}

} // enabled
