///-----------------------------------------------------------------------------
///  OBJECT: PROPORTIONAL
///-----------------------------------------------------------------------------
///
///  Elements which respect specific aspect ratios.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$o-proportional: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  "ratios": (
    "default": 100%,
    "4x3":     75%,
    "16x9":    56.25%,
  ),

), $o-proportional );


@if ( ui-load( "objects", "proportional" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: PROPORTIONAL
 *-----------------------------------------------------------------------------*
 *
 *  Elements which respect specific aspect ratios.
 *
 */

///
/// @block        Proportional
/// @description  Default Proportional block.
///
%o-proportional {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: map-get-deep( $_config, "ratios", "default" );
  }

  > * {
    position: absolute;
  }
  iframe,
  object {
    width: 100%;
    height: 100%;
  }
}

///
/// @modifier     Proportional [ratio]
/// @description  Variant with different aspect ratio.
///
@each $_name, $_value in map-get( $_config, "ratios" ) { @if ( $_name != "default" ) {

  %o-proportional--#{$_name} {
    &::before{ padding-top: $_value; }
  }

}}

} // load
