///-----------------------------------------------------------------------------
///  OBJECT: HEADING
///-----------------------------------------------------------------------------
///
///  Heading elements.
///

@if ( ui-load( "objects", "heading" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  OBJECT: HEADING
 *-----------------------------------------------------------------------------*
 *
 *  Heading elements.
 *
 */

///
/// @block        Heading
/// @description  Default Heading block.
///
%o-heading {

  --font-family: var(--font-family-display);
  --font-size:   inherit;
  --font-weight: 700;
  --line-height: 1.1;
  --letter-spacing: inherit;
  --color: inherit;

  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  color: var(--color);
}

///
/// @modifier     Heading H1
/// @description  Heading with priority 1.
///
%o-heading--h1 {
  --font-size:        1.75rem;
  --font-size-medium: 2.25rem;
  --font-size-large:  3rem;
}

///
/// @modifier     Heading H2
/// @description  Heading with priority 2.
///
%o-heading--h2 {
  --font-size:        1.5rem;
  --font-size-medium: 1.875rem;
  --font-size-large:  2.25rem;
}

///
/// @modifier     Heading H3
/// @description  Heading with priority 3.
///
%o-heading--h3 {
  --font-size:        1.25rem;
  --font-size-medium: 1.5rem;
  --font-size-large:  1.75rem;
}

///
/// @modifier     Heading H4
/// @description  Heading with priority 4.
///
%o-heading--h4 {
  --font-size:        1.125rem;
  --font-size-medium: 1.25rem;
  --font-size-large:  1.375rem;
}

@include bp( "medium" ) {
  %o-heading--h1 { font-size: var(--font-size-medium); }
  %o-heading--h2 { font-size: var(--font-size-medium); }
  %o-heading--h3 { font-size: var(--font-size-medium); }
  %o-heading--h4 { font-size: var(--font-size-medium); }
  %o-heading--h5 { font-size: var(--font-size-medium); }
  %o-heading--h6 { font-size: var(--font-size-medium); }
}

@include bp( "large" ) {
  %o-heading--h1 { font-size: var(--font-size-large); }
  %o-heading--h2 { font-size: var(--font-size-large); }
  %o-heading--h3 { font-size: var(--font-size-large); }
  %o-heading--h4 { font-size: var(--font-size-large); }
  %o-heading--h5 { font-size: var(--font-size-large); }
  %o-heading--h6 { font-size: var(--font-size-large); }
}

} // ui-load()
