///-----------------------------------------------------------------------------
///  TAG: BODY
///-----------------------------------------------------------------------------
///
///  The <body> element.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$t-body: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  font-size: ui-font-size( "default" ),
  line-height: 1.5,

  color: ui-color( "default" ),
  background: ui-color( "default" ),

  "selection-color": null,
  "selection-background": null,

), $t-body );


@if ( ui-load( "tags", "body" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: BODY
 *-----------------------------------------------------------------------------*
 *
 *  The <body> element.
 *
 */

$_tsc: map-get( $_config, "selection-color" );
$_tsb: map-get( $_config, "selection-background" );

///
/// @block        Body
/// @description  Default Body block.
///
/// [1] remove focus indicator if user is not using tabs
///
%t-body {
  @extend %font-sans !optional;

  @include maybe-fluid( "font-size", map-get( $_config, "font-size" ) );
  line-height: map-get( $_config, "line-height" );

  background: map-get( $_config, "background" );
  color: map-get( $_config, "color" );

  @if ( $_tsc OR $_tsb ) {
    ::selection {
      color: $_tsc;
      background: $_tsb;
      text-shadow: none;
    }
  }

  /// [1] ///
  &.user-is-not-tabbing *:focus {
    outline: none;
  }
}

} // ui-load()
