///-----------------------------------------------------------------------------
///  TAG: BLOCKQUOTE
///-----------------------------------------------------------------------------
///
///  The <blockquote> tag.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$t-blockquote: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  padding: null,
  background: null,

  "quote": (

    "before": open-quote,
    "after": close-quote,

    font-size: ui-font-size( "h4" ),
    font-weight: null,
    font-style: italic,

    color: null,

  ),

  "author": (

    "before": "—",

    margin-top: 0.25em,

    font-size: null,
    font-weight: null,
    font-style: null,

    color: null,

  ),

), $t-blockquote );


@if ( ui-load( "tags", "blockquote" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: BLOCKQUOTE
 *-----------------------------------------------------------------------------*
 *
 *  The <blockquote> tag.
 *
 */

///
/// @block        Blockquote
/// @description  Default Blockquote tag.
///
/// 1. opening and closing quotes
/// 2. quote author
///
%t-blockquote {
  padding: map-get( $_config, "padding" );
  background: map-get( $_config, "background" );
}

  ///
  /// @element      Blockquote Quote
  /// @description  The quoted text.
  ///
  %t-blockquote__quote {
    @include maybe-fluid( "font-size", map-get-deep( $_config, "quote", "font-size" ) );
    font-weight: map-get-deep( $_config, "quote", "font-weight" );
    font-style: map-get-deep( $_config, "quote", "font-style" );

    color: map-get-deep( $_config, "quote", "color" );

    &::before {
      content: map-get-deep( $_config, "quote", "before" );
    }
    &::after {
      content: map-get-deep( $_config, "quote", "after" );
    }
  }

  ///
  /// @element      Blockquote Author
  /// @description  The author of the quoted text.
  ///
  %t-blockquote__author {
    display: block;

    margin-top: map-get-deep( $_config, "author", "margin-top" );

    @include maybe-fluid( "font-size", map-get-deep( $_config, "author", "font-size" ) );
    font-weight: map-get-deep( $_config, "author", "font-weight" );
    font-style: map-get-deep( $_config, "author", "font-style" );

    color: map-get-deep( $_config, "author", "color" );

    &::before {
      content: map-get-deep( $_config, "author", "before" );
    }
  }

} // ui-load()
