///-----------------------------------------------------------------------------
///  TAG: FIGURE
///-----------------------------------------------------------------------------
///
///  The <figure> and <figcaption> tags.
///

@if ( ui-load( "tags", "figure" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: FIGURE
 *-----------------------------------------------------------------------------*
 *
 *  The <figure> and <figcaption> tags.
 *
 */

///
/// @block        Figure
/// @description  Default Figure block.
///
%t-figure {
  --padding: 0.75em 1em;
  --font-size: 0.875em;
  --font-style: normal;
  --text-align: center;
  --color: var(--color-text, #666);
  --background: var(--color-light, #fff);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

  ///
  /// @element      Figure Image
  /// @description  Image inside the figure element.
  ///
  %t-figure__image {
  }

  ///
  /// @element      Figure Caption
  /// @description  Caption for the image inside the figure element.
  ///
  %t-figure__caption {
    margin-top: 0;
    padding: var(--padding);

    font-size: var(--font-size);
    font-style: var(--font-style);
    text-align: var(--text-align);

    color: var(--color);
    background: var(--background);
  }

} // ui-load()
