///-----------------------------------------------------------------------------
///  TAG: CODE
///-----------------------------------------------------------------------------
///
///  The <code> tag and code blocks with <pre> tag.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$t-code: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  padding: null,

  color: null,
  background: null,

), $t-code );


@if ( ui-load( "tags", "code" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: CODE
 *-----------------------------------------------------------------------------*
 *
 *  The <code> tag and code blocks with <pre> tag.
 *
 */

///
/// @block        Code
/// @description  Default <code> tag.
///
%t-code {
  @extend %font-mono !optional;

  padding: map-get( $_config, "padding" );

  color: map-get( $_config, "color" );
  background: map-get( $_config, "background" );
}

} // ui-load()
