///-----------------------------------------------------------------------------
///  BASE: FONTS
///-----------------------------------------------------------------------------
///
///  @font-face declarations and font stacks.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$b-fonts: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  "sans":    $font-stack-system,
  "serif":   $font-stack-georgia,
  "display": null,
  "mono":    $font-stack-mono,

), $b-fonts );


@if ( ui-load( "base", "fonts" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  BASE: FONTS
 *-----------------------------------------------------------------------------*
 *
 *  @font-face declarations and font stacks.
 *
 */

///
/// @block        Font Sans
/// @description  Stack of sans-serif fonts.
///
%font-sans {
  font-family: map-get( $_config, "sans" );
}

///
/// @block        Font Serif
/// @description  Stack of serif fonts.
///
%font-serif {
  font-family: map-get( $_config, "serif" );
}

///
/// @block        Font Display
/// @description  Stack of display fonts used for titles.
///
%font-display {
  font-family: map-get( $_config, "display" );
}

///
/// @block        Font Mono
/// @description  Stack of monospace fonts.
///
%font-mono {
  font-family: map-get( $_config, "mono" );
}

} // ui-load()
