///-----------------------------------------------------------------------------
///  BASE: TEXT SELECTION
///-----------------------------------------------------------------------------
///
///  Color and background of text when it is selected by the user.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$b-text-selection: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  color: inherit,
  background: rgba( ui-color( "primary" ), 0.2 ),

), $b-text-selection );


@if ( ui-load( "base", "text-selection" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  BASE: TEXT SELECTION
 *-----------------------------------------------------------------------------*
 *
 *  Color and background of text when it is selected by the user.
 *
 */

::-moz-selection {
  background: map-get( $_config, "background" );
  color: map-get( $_config, "color" );
  text-shadow: none;
}
::selection {
  background: map-get( $_config, "background" );
  color: map-get( $_config, "color" );
  text-shadow: none;
}

} // ui-load()
