///-----------------------------------------------------------------------------
///  TAG: HTML
///-----------------------------------------------------------------------------
///
///  The root element.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$t-html: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  font-size: ui-font-size( "default" ),
  line-height: 1.5,

  background: ui-color( "default" ),
  color: ui-color( "default" ),

), $t-html );


@if ( ui-load( "tag", "html" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: HTML
 *-----------------------------------------------------------------------------*
 *
 *  The root element.
 *
 */

///
/// @block        Horizontal Ruler
/// @description  Default horizontal ruler.
///
%t-html {
  @extend %ff-sans !optional;

  @include maybe-fluid( "font-size", map-get( $_config, "font-size" ) );
  line-height: map-get( $_config, "line-height" );

  background: map-get( $_config, "background" );
  color: map-get( $_config, "color" );
}

} // enabled
