///-----------------------------------------------------------------------------
///  TAG: CODE
///-----------------------------------------------------------------------------
///
///  The <code> tag and code blocks with <pre> tag.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$t-code: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  font-family: null,

), $t-code );


@if ( ui-load( "tag", "code" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  TAG: CODE
 *-----------------------------------------------------------------------------*
 *
 *  The <code> tag and code blocks with <pre> tag.
 *
 */

///
/// @block        <code>
/// @description  The <code> tag.
///
%t-code {
  @extend %ff-mono !optional;

  font-family: map-get( $_config, "font-family" );
}

} // enabled
