///-----------------------------------------------------------------------------
///  PARTIAL: SECTION
///-----------------------------------------------------------------------------
///
///  Section of the webpage.
///

@if ( ui-load( "partials", "section" ) == true ) {
/*---------------------------------------------------------------------------*
 *  PARTIAL: SECTION
 *---------------------------------------------------------------------------*
 *
 *  Section of the webpage.
 *
 */

///
/// @block        Section
/// @description  Default Section block.
///
/// @vars
/// --section-vertical-spacing  Vertical spacing for the section.
///
%p-section {
  @extend %l-row, %l-row--wrap !optional;

  --section-vertical-spacing: var(--spacing-l, 2rem);

  position: relative;

  padding-top: var(--section-vertical-spacing);
  padding-bottom: var(--section-vertical-spacing);
}

  ///
  /// @element      Section Container
  /// @description  The section main container.
  ///
  %p-section__container {
    @extend %l-container !optional;

    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;

    display: inherit;
  }

  ///
  /// @element      Section Header
  /// @description  The section heading.
  ///
  %p-section__header {
    @extend %l-fluid-pad, %l-fluid-pad--sides !optional;

    flex-grow: 1;

    position: relative;

    padding-bottom: var(--section-vertical-spacing);
  }

  ///
  /// @element      Section Text
  /// @description  Wrapper for textual content.
  ///
  %p-section__text {
    @extend %l-fluid-pad !optional;

    flex-grow: 1;

    position: relative;
    z-index: 1;
  }

  ///
  /// @element      Section Visual
  /// @description  Wrapper for graphic content.
  ///
  %p-section__visual {
    flex-grow: 1;

    position: relative;
    z-index: 0;

    width: 100%;
  }

  ///
  /// @element      Section Title
  /// @description  Title of the section.
  ///
  %p-section__title {
    @extend %o-heading !optional;
  }

} // ui-load()
