///-----------------------------------------------------------------------------
///  PARTIAL: FORM
///-----------------------------------------------------------------------------
///
///  Styling for form elements, such as labels, fields and hints.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$p-form: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  "label": (
    padding:        0 0 ui-spacing( "xs" ),
    font-size:      0.875em,
    font-weight:    700,
    line-height:    1,
    text-transform: null,
    letter-spacing: null,
    color:          null,
  ),

  "label-inline": (
    padding:        0.5em 0.75em,
    font-size:      1em,
    color:          null,
    "color-active": null,
  ),

  "hint": (
    padding:        0 0 ui-spacing( "xs" ),
    font-size:      0.75em,
    line-height:    1.25,
    color:          null,
    opacity:        0.75,
  ),

), $p-form );


@if ( ui-load( "partials", "form" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  PARTIAL: FORM
 *-----------------------------------------------------------------------------*
 *
 *  Styling for form elements, such as labels, fields and hints.
 *
 */

///
/// @placeholder  Form Row
/// @description  Row of fields inside the form.
///
%p-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-grow: 1;

  margin-left: -( ui-spacing() / 2 );
  margin-right: -( ui-spacing() / 2 );

  > * {
    padding-left: ui-spacing() / 2;
    padding-right: ui-spacing() / 2;
  }
}

///
/// @block        Form
/// @description  Default form block.
///
%p-form {
  @extend %p-form-row;
}

  ///
  /// @element      Form Fieldset
  /// @description  Group of fields.
  ///
  %p-form__fieldset {
    @extend %p-form-row;
  }

  ///
  /// @element      Form Field
  /// @description  Wrapper for a single field inside a form.
  ///
  /// [1] always put the label before
  ///
  %p-form__field {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    %p-form__label {
      order: -1;
      flex-grow: 0;
    }
  }

  ///
  /// @element      Form Label
  /// @description  Label for a input in a form.
  ///
  %p-form__label {
    position: relative;

    padding: map-get-deep( $_config, "label", "padding" );

    font-size: map-get-deep( $_config, "label", "font-size" );
    font-weight: map-get-deep( $_config, "label", "font-weight" );
    line-height: map-get-deep( $_config, "label", "line-height" );
    text-transform: map-get-deep( $_config, "label", "text-transform" );
    letter-spacing: map-get-deep( $_config, "label", "letter-spacing" );

    color: map-get-deep( $_config, "label", "color" );
  }

  ///
  /// @element      Form Hint
  /// @description  Hint for a form field.
  ///
  %p-form__hint {
    display: block;
    position: relative;

    padding: map-get-deep( $_config, "hint", "padding" );

    font-size: map-get-deep( $_config, "hint", "font-size" );
    line-height: map-get-deep( $_config, "hint", "line-height" );

    color: map-get-deep( $_config, "hint", "color" );

    opacity: map-get-deep( $_config, "hint", "opacity" );
  }

  ///
  /// @modifier     Form Field Floating Label
  /// @description  Form field with floating label.
  ///
  %p-form__field--floating-label {
    $_fz: map-get-deep( $_config, "label-inline", "font-size" );
    $_p:  map-get-deep( $_config, "label-inline", "padding" );
    $_pl: list-direction( $_p, "left" );
    $_pt: list-direction( $_p, "top" );

    %c-input-text {
      padding-top: calc(#{$_pt} + #{$_fz});
    }

    %p-form__label {
      @extend %transition !optional;

      position: absolute;
      top: calc(#{$_pt} + #{$_fz});
      left: calc(#{ui-spacing() / 2} + #{$_pl});

      width: auto;
      margin: 0;

      color: map-get-deep( $_config, "label-inline", "color" );

      will-change: transform, opacity;
      transform-origin: bottom left;
    }

    %c-input-text:placeholder-shown + %p-form__label {
      transform: translateY( 0 );
    }

    %c-input-text:focus + %p-form__label,
    %c-input-text:not(:placeholder-shown) + %p-form__label {
      transform: translateY( -1em ) scale( 0.75 );
      color: map-get-deep( $_config, "label-inline", "color-active" );
    }
  }

} // ui-load()
