/*-----------------------------------------------------------------------------*
 *  UTILITIES: TRANSFORM
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for 'transform' property.
 *
 */

.u-origin-c   { transform-origin: center !important; }
.u-origin-t   { transform-origin: top !important; }
.u-origin-tl  { transform-origin: top left !important; }
.u-origin-tr  { transform-origin: top right !important; }
.u-origin-b   { transform-origin: bottom !important; }
.u-origin-bl  { transform-origin: bottom left !important; }
.u-origin-br  { transform-origin: bottom right !important; }
.u-origin-l   { transform-origin: left !important; }
.u-origin-r   { transform-origin: right !important; }

.u-scale-10   { transform: scale( 0.1 ) !important; }
.u-scale-20   { transform: scale( 0.2 ) !important; }
.u-scale-30   { transform: scale( 0.3 ) !important; }
.u-scale-40   { transform: scale( 0.4 ) !important; }
.u-scale-50   { transform: scale( 0.5 ) !important; }
.u-scale-60   { transform: scale( 0.6 ) !important; }
.u-scale-70   { transform: scale( 0.7 ) !important; }
.u-scale-80   { transform: scale( 0.8 ) !important; }
.u-scale-90   { transform: scale( 0.9 ) !important; }
.u-scale-100  { transform: scale( 1.0 ) !important; }
.u-scale-110  { transform: scale( 1.1 ) !important; }
.u-scale-120  { transform: scale( 1.2 ) !important; }
.u-scale-130  { transform: scale( 1.3 ) !important; }
.u-scale-140  { transform: scale( 1.4 ) !important; }
.u-scale-150  { transform: scale( 1.5 ) !important; }
.u-scale-160  { transform: scale( 1.6 ) !important; }
.u-scale-170  { transform: scale( 1.7 ) !important; }
.u-scale-180  { transform: scale( 1.8 ) !important; }
.u-scale-190  { transform: scale( 1.9 ) !important; }
.u-scale-200  { transform: scale( 2 )   !important; }

.u-rotate-45  { transform: rotate( 45deg ) !important; }
.u-rotate-90  { transform: rotate( 90deg ) !important; }
.u-rotate-135 { transform: rotate( 135deg ) !important; }
.u-rotate-180 { transform: rotate( 180deg ) !important; }
.u-rotate-225 { transform: rotate( 225deg ) !important; }
.u-rotate-270 { transform: rotate( 270deg ) !important; }
.u-rotate-315 { transform: rotate( 315deg ) !important; }
