/*-----------------------------------------------------------------------------*
 *  UTILITIES: COLORS
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for text, background and border colors.
 *
 */


// color
.u-col-inherit           { color: inherit !important; }
.u-col-trans             { color: transparent !important; }
.u-col-white             { color: #fff !important; }
.u-col-invert            { filter: invert(100%) !important; }
.u-col-trans\:hov:hover  { color: transparent !important; }
.u-col-white\:hov:hover  { color: #fff !important; }
.u-col-invert\:hov:hover { filter: invert(100%) !important; }

// background-color
.u-bg-trans              { background-color: transparent !important; }
.u-bg-white              { background-color: #fff !important; }
.u-bg-current            { background-color: currentColor !important; }
.u-bg-trans\:hov:hover   { background-color: transparent !important; }
.u-bg-white\:hov:hover   { background-color: #fff !important; }
.u-bg-current\:hov:hover { background-color: currentColor !important; }

// border-color
.u-bd-trans              { border-color: transparent !important; }
.u-bd-white              { border-color: #fff !important; }
.u-bd-trans\:hov:hover   { border-color: transparent !important; }
.u-bd-white\:hov:hover   { border-color: #fff !important; }

// custom colors
@each $name, $color in ui-config( "color" ) {
  .u-col-#{$name}            { color: $color !important; }
  .u-col-#{$name}\:hov:hover { color: $color !important; }
  .u-bg-#{$name}             { background-color: $color !important; }
  .u-bg-#{$name}\:hov:hover  { background-color: $color !important; }
  .u-bd-#{$name}             { border-color: $color !important; }
  .u-bd-#{$name}\:hov:hover  { border-color: $color !important; }
}
