/*-----------------------------------------------------------------------------*
 *  UTILITIES: OPACITY
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for the opacity property.
 *
 */

.u-op-10  { opacity: 0.1 !important; }
.u-op-20  { opacity: 0.2 !important; }
.u-op-30  { opacity: 0.3 !important; }
.u-op-40  { opacity: 0.4 !important; }
.u-op-50  { opacity: 0.5 !important; }
.u-op-60  { opacity: 0.6 !important; }
.u-op-70  { opacity: 0.7 !important; }
.u-op-80  { opacity: 0.8 !important; }
.u-op-90  { opacity: 0.9 !important; }
.u-op-100 { opacity: 1 !important; }
.u-op-0   { opacity: 0 !important; }

.u-op-10\:hov:hover  { opacity: 0.1 !important; }
.u-op-20\:hov:hover  { opacity: 0.2 !important; }
.u-op-30\:hov:hover  { opacity: 0.3 !important; }
.u-op-40\:hov:hover  { opacity: 0.4 !important; }
.u-op-50\:hov:hover  { opacity: 0.5 !important; }
.u-op-60\:hov:hover  { opacity: 0.6 !important; }
.u-op-70\:hov:hover  { opacity: 0.7 !important; }
.u-op-80\:hov:hover  { opacity: 0.8 !important; }
.u-op-90\:hov:hover  { opacity: 0.9 !important; }
.u-op-100\:hov:hover { opacity: 1 !important; }
.u-op-0\:hov:hover   { opacity: 0 !important; }
