///-----------------------------------------------------------------------------
///  UTILITIES: BORDER RADIUS
///-----------------------------------------------------------------------------
///
///  tility classes for the border-radius property.
///


@if ( ui-load( "utilities", "border-radius" ) == true ) {

/*-----------------------------------------------------------------------------*
 *  UTILITIES: BORDER RADIUS
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for the border-radius property.
 *
 */

.u-bdrd-xs  { border-radius: 2px !important; }
.u-bdrd-s   { border-radius: 4px !important; }
.u-bdrd-m   { border-radius: 6px !important; }
.u-bdrd-l   { border-radius: 10px !important; }
.u-bdrd-xl  { border-radius: 20px !important; }

.u-bdrd-round { border-radius: 50% !important; }

} // ui-load()
