/*-----------------------------------------------------------------------------*
 *  UTILITIES: BORDER
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for border width and style. For colors, see the color utils.
 *
 */

.u-bd-0  { border: 0 !important; }
.u-bd-1  { border: 1px solid !important; }
.u-bd-2  { border: 2px solid !important; }
.u-bd-3  { border: 3px solid !important; }

.u-bdt-0 { border-top: 0 !important; }
.u-bdt-1 { border-top: 1px solid !important; }
.u-bdt-2 { border-top: 2px solid !important; }
.u-bdt-3 { border-top: 3px solid !important; }

.u-bdb-0 { border-bottom: 0 !important; }
.u-bdb-1 { border-bottom: 1px solid !important; }
.u-bdb-2 { border-bottom: 2px solid !important; }
.u-bdb-3 { border-bottom: 3px solid !important; }

.u-bdl-0 { border-left: 0 !important; }
.u-bdl-1 { border-left: 1px solid !important; }
.u-bdl-2 { border-left: 2px solid !important; }
.u-bdl-3 { border-left: 3px solid !important; }

.u-bdr-0 { border-right: 0 !important; }
.u-bdr-1 { border-right: 1px solid !important; }
.u-bdr-2 { border-right: 2px solid !important; }
.u-bdr-3 { border-right: 3px solid !important; }

.u-bd-s  { border-style: solid !important; }
.u-bd-dt { border-style: dotted !important; }
.u-bd-ds { border-style: dashed !important; }
