/*-----------------------------------------------------------------------------*
 *  UTILITIES: POSITION
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for positioning elements.
 *
 */

.u-pos-st {
  position: static !important;
}
.u-pos-r {
  position: relative !important;
}
.u-pos-f {
  position: fixed !important;
}
.u-pos-a {
  position: absolute !important;
}

///  Top / Left / Bottom / Right position.
.u-pos-t0 {
  top: 0 !important;
}
.u-pos-t50 {
  top: 50% !important;
}
.u-pos-t100 {
  top: 100% !important;
}
.u-pos-l0 {
  left: 0 !important;
}
.u-pos-l50 {
  left: 50% !important;
}
.u-pos-l100 {
  left: 100% !important;
}
.u-pos-b0 {
  bottom: 0 !important;
}
.u-pos-b100 {
  bottom: 100% !important;
}
.u-pos-r0 {
  right: 0 !important;
}
.u-pos-r100 {
  right: 100% !important;
}

///  Fix the element offset relative to the center of the container.
.u-pos-tx {
  transform: translate( -50%, 0 ) !important;
}
.u-pos-ty {
  transform: translate( 0, -50% ) !important;
}
.u-pos-txy {
  transform: translate( -50%, -50% ) !important;
}

///
///  Position an element along the border of the parent, at a specific cardinal point.
///
///  NW—————————N—————————NE
///   ⎮                   ⎮
///   ⎮                   ⎮
///   W         C         E
///   ⎮                   ⎮
///   ⎮                   ⎮
///  SW—————————S—————————SE
///
.u-pos-c {
  @extend .u-pos-a, .u-pos-t50, .u-pos-l50;
  @extend .u-pos-txy;
}
.u-pos-nw {
  @extend .u-pos-a, .u-pos-t0, .u-pos-l0;
  @extend .u-pos-txy;
}
.u-pos-n {
  @extend .u-pos-a, .u-pos-t0, .u-pos-l50;
  @extend .u-pos-txy;
}
.u-pos-ne {
  @extend .u-pos-a, .u-pos-t0, .u-pos-l100;
  @extend .u-pos-txy;
}
.u-pos-e {
  @extend .u-pos-a, .u-pos-t50, .u-pos-l100;
  @extend .u-pos-txy;
}
.u-pos-sw {
  @extend .u-pos-a, .u-pos-t100, .u-pos-l100;
  @extend .u-pos-txy;
}
.u-pos-s {
  @extend .u-pos-a, .u-pos-t100, .u-pos-l50;
  @extend .u-pos-txy;
}
.u-pos-se {
  @extend .u-pos-a, .u-pos-t100, .u-pos-l0;
  @extend .u-pos-txy;
}
.u-pos-w {
  @extend .u-pos-a, .u-pos-t50, .u-pos-l0;
  @extend .u-pos-txy;
}

///
///  Position an element inside the parent, at specific cardinal point.
///
///  ⌜———————————————————⌝
///  ⎮ NW      N      NE ⎮
///  ⎮                   ⎮
///  ⎮ W       C       E ⎮
///  ⎮                   ⎮
///  ⎮ SW      S      SE ⎮
///  ⌞———————————————————⌟
///
.u-pos-nw-in {
  @extend .u-pos-a, .u-pos-t0, .u-pos-l0;
}
.u-pos-n-in {
  @extend .u-pos-a, .u-pos-t0, .u-pos-l50;
  @extend .u-pos-tx;
}
.u-pos-ne-in {
  @extend .u-pos-a, .u-pos-t0, .u-pos-r0;
}
.u-pos-e-in {
  @extend .u-pos-a, .u-pos-t50, .u-pos-r0;
  @extend .u-pos-ty;
}
.u-pos-sw-in {
  @extend .u-pos-a, .u-pos-b0, .u-pos-r0;
}
.u-pos-s-in {
  @extend .u-pos-a, .u-pos-b0, .u-pos-l50;
  @extend .u-pos-tx;
}
.u-pos-se-in {
  @extend .u-pos-a, .u-pos-b0, .u-pos-l0;
}
.u-pos-w-in {
  @extend .u-pos-a, .u-pos-t50, .u-pos-l0;
  @extend .u-pos-ty;
}

///
///  Position an element outside the parent, at a specific cardinal point.
///
///  NW           N           NE
///     ⌜———————————————————⌝
///     ⎮                   ⎮
///     ⎮                   ⎮
///   W ⎮                   ⎮ E
///     ⎮                   ⎮
///     ⎮                   ⎮
///     ⌞———————————————————⌟
///  SW           S           SE
///
.u-pos-nw-out {
  @extend .u-pos-a, .u-pos-b100, .u-pos-r100;
}
.u-pos-n-out {
  @extend .u-pos-a, .u-pos-b100, .u-pos-l50;
  @extend .u-pos-tx;
}
.u-pos-ne-out {
  @extend .u-pos-a, .u-pos-b100, .u-pos-l100;
}
.u-pos-e-out {
  @extend .u-pos-a, .u-pos-t50, .u-pos-l100;
  @extend .u-pos-ty;
}
.u-pos-sw-out {
  @extend .u-pos-a, .u-pos-t100, .u-pos-l100;
}
.u-pos-s-out {
  @extend .u-pos-a, .u-pos-t100, .u-pos-l50;
  @extend .u-pos-tx;
}
.u-pos-se-out {
  @extend .u-pos-a, .u-pos-t100, .u-pos-r100;
}
.u-pos-w-out {
  @extend .u-pos-a, .u-pos-t50, .u-pos-r100;
  @extend .u-pos-ty;
}
