/*-----------------------------------------------------------------------------*
 *  UTILITIES: SPACING
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for setting margins and paddings.
 *
 */

.u-m-a   { margin:        auto !important; }
.u-mt-a  { margin-top:    auto !important; }
.u-mb-a  { margin-bottom: auto !important; }
.u-ml-a  { margin-left:   auto !important; }
.u-mr-a  { margin-right:  auto !important; }

.u-m-0   { margin:        0 !important; }
.u-mt-0  { margin-top:    0 !important; }
.u-mb-0  { margin-bottom: 0 !important; }
.u-ml-0  { margin-left:   0 !important; }
.u-mr-0  { margin-right:  0 !important; }

.u-p-0   { padding:        0 !important; }
.u-pt-0  { padding-top:    0 !important; }
.u-pb-0  { padding-bottom: 0 !important; }
.u-pl-0  { padding-left:   0 !important; }
.u-pr-0  { padding-right:  0 !important; }

@each $name, $value in ui-config( "spacing" ) {
  $size: if( $name == "default", "", "-#{$name}" );

  .u-m#{$size}        { margin:        ui-spacing( $name ) !important; }
  .u-mt#{$size}       { margin-top:    ui-spacing( $name ) !important; }
  .u-mb#{$size}       { margin-bottom: ui-spacing( $name ) !important; }
  .u-ml#{$size}       { margin-left:   ui-spacing( $name ) !important; }
  .u-mr#{$size}       { margin-right:  ui-spacing( $name ) !important; }

  .u-m#{$size}-neg    { margin:        -( ui-spacing( $name ) ) !important; }
  .u-mt#{$size}-neg   { margin-top:    -( ui-spacing( $name ) ) !important; }
  .u-mb#{$size}-neg   { margin-bottom: -( ui-spacing( $name ) ) !important; }
  .u-ml#{$size}-neg   { margin-left:   -( ui-spacing( $name ) ) !important; }
  .u-mr#{$size}-neg   { margin-right:  -( ui-spacing( $name ) ) !important; }

  .u-p#{$size}        { padding:        ui-spacing( $name ) !important; }
  .u-pt#{$size}       { padding-top:    ui-spacing( $name ) !important; }
  .u-pb#{$size}       { padding-bottom: ui-spacing( $name ) !important; }
  .u-pl#{$size}       { padding-left:   ui-spacing( $name ) !important; }
  .u-pr#{$size}       { padding-right:  ui-spacing( $name ) !important; }
}


///-----------------------------------------------------------------------------
///  BREAKPOINT VARIANTS
///-----------------------------------------------------------------------------
@each $name, $bp in ui-config( "breakpoint" ) { @if ( map-has-key( $bp, "suffix" ) ) {
  $suffix:  map-get( $bp, "suffix" );
  $value:   map-get( $bp, "value" );
  $feature: if( map-has-key( $bp, "feature" ), map-get( $bp, "feature" ), "min-width" );
  $type:    if( map-has-key( $bp, "type" ), map-get( $bp, "type" ), "all" );

  @media #{$type} and ( #{$feature}: #{$value} ) {

  .u-m-a\@#{$suffix}   { margin:        auto !important; }
  .u-mt-a\@#{$suffix}  { margin-top:    auto !important; }
  .u-mb-a\@#{$suffix}  { margin-bottom: auto !important; }
  .u-ml-a\@#{$suffix}  { margin-left:   auto !important; }
  .u-mr-a\@#{$suffix}  { margin-right:  auto !important; }

  .u-m-0\@#{$suffix}   { margin:        0 !important; }
  .u-mt-0\@#{$suffix}  { margin-top:    0 !important; }
  .u-mb-0\@#{$suffix}  { margin-bottom: 0 !important; }
  .u-ml-0\@#{$suffix}  { margin-left:   0 !important; }
  .u-mr-0\@#{$suffix}  { margin-right:  0 !important; }

  .u-p-0\@#{$suffix}   { padding:        0 !important; }
  .u-pt-0\@#{$suffix}  { padding-top:    0 !important; }
  .u-pb-0\@#{$suffix}  { padding-bottom: 0 !important; }
  .u-pl-0\@#{$suffix}  { padding-left:   0 !important; }
  .u-pr-0\@#{$suffix}  { padding-right:  0 !important; }

  @each $name, $value in ui-config( "spacing" ) {
    $size: if( $name == "default", "", "-#{$name}" );

    .u-m#{$size}\@#{$suffix}        { margin:        ui-spacing( $name ) !important; }
    .u-mt#{$size}\@#{$suffix}       { margin-top:    ui-spacing( $name ) !important; }
    .u-mb#{$size}\@#{$suffix}       { margin-bottom: ui-spacing( $name ) !important; }
    .u-ml#{$size}\@#{$suffix}       { margin-left:   ui-spacing( $name ) !important; }
    .u-mr#{$size}\@#{$suffix}       { margin-right:  ui-spacing( $name ) !important; }

    .u-m#{$size}-neg\@#{$suffix}    { margin:        -( ui-spacing( $name ) ) !important; }
    .u-mt#{$size}-neg\@#{$suffix}   { margin-top:    -( ui-spacing( $name ) ) !important; }
    .u-mb#{$size}-neg\@#{$suffix}   { margin-bottom: -( ui-spacing( $name ) ) !important; }
    .u-ml#{$size}-neg\@#{$suffix}   { margin-left:   -( ui-spacing( $name ) ) !important; }
    .u-mr#{$size}-neg\@#{$suffix}   { margin-right:  -( ui-spacing( $name ) ) !important; }

    .u-p#{$size}\@#{$suffix}        { padding:        ui-spacing( $name ) !important; }
    .u-pt#{$size}\@#{$suffix}       { padding-top:    ui-spacing( $name ) !important; }
    .u-pb#{$size}\@#{$suffix}       { padding-bottom: ui-spacing( $name ) !important; }
    .u-pl#{$size}\@#{$suffix}       { padding-left:   ui-spacing( $name ) !important; }
    .u-pr#{$size}\@#{$suffix}       { padding-right:  ui-spacing( $name ) !important; }
  }

  }
}}
