/*-----------------------------------------------------------------------------*
 *  UTILITIES: OVERFLOW
 *-----------------------------------------------------------------------------*
 *
 *  Utility classes for the overflow property.
 *
 */

.u-ov-h  { overflow: hidden !important; }
.u-ov-v  { overflow: visible !important; }
.u-ov-a  { overflow: auto !important; -webkit-overflow-scrolling: touch; }

.u-ovx-h { overflow-x: hidden !important; }
.u-ovx-v { overflow-x: visible !important; }
.u-ovx-a { overflow-x: auto !important; -webkit-overflow-scrolling: touch; }

.u-ovy-h { overflow-y: hidden !important; }
.u-ovy-v { overflow-y: visible !important; }
.u-ovy-a { overflow-y: auto !important; -webkit-overflow-scrolling: touch; }
