///-----------------------------------------------------------------------------
///  MODULE: BUTTON STATEFUL
///-----------------------------------------------------------------------------
///
///  Change button text depending on its state.
///
///  Uses aria-busy and aria-invalid attributes for indicating loading and error
///  states, respectively.
///
///  @requires button-stateful.js
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$m-button-stateful: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  "icon-size": 1.5em,
  "loading-opacity": 0.75,

), $m-button-stateful );


@if ( ui-load( "modules", "button-state" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  MODULE: BUTTON STATEFUL
 *-----------------------------------------------------------------------------*
 *
 *  Change button text depending on its state.
 *
 *  Uses aria-busy and aria-invalid attributes for indicating loading and error
 *  states, respectively.
 *
 *  @requires button-stateful.js
 *
 */

///
/// @block        Button Stateful
/// @description  Default input submit block.
///
%m-button-stateful {
  @extend %o-button !optional;

  flex-direction: column;

  overflow: hidden;
  padding: 0;
  animation-play-state: paused;
}

  ///
  /// @element      Button Stateful Element
  /// @description  Container for a specific state.
  ///
  /// [1] remove button background because it is already set on parent
  ///
  %m-button-stateful__element {
    @extend %transition !optional;
    @extend %o-button !optional;

    width: 100%;
    background: transparent; /// [1] ///
  }

  ///
  /// @modifier     Button Stateful Element [State]
  /// @description  Containers for different states.
  ///
  /// [1] icon indicating current state
  ///
  %m-button-stateful__element--loading,
  %m-button-stateful__element--success,
  %m-button-stateful__element--error {
    position: absolute;
    left: 0; top: 100%;
    width: 100%; height: 100%;

    pointer-events: none;
    cursor: default;

    /// [1] ///
    &::before {
      width: 1.5em;
      height: 1.5em;
      margin: 0.25em;
    }
  }

  ///
  /// @modifier     Button Stateful Element Loading
  /// @description  Container for loading state.
  ///
  %m-button-stateful__element--loading {
    opacity: 0.75;
    &::before {
      content: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' width='100%' height='100%'><path d='M9 13.5c-2.49 0-4.5-2.01-4.5-4.5S6.51 4.5 9 4.5c1.24 0 2.36.52 3.17 1.33L10 8h5V3l-1.76 1.76A6.003 6.003 0 0 0 9 3C5.69 3 3.01 5.69 3.01 9S5.69 15 9 15a5.98 5.98 0 0 0 5.9-5h-1.52c-.46 2-2.24 3.5-4.38 3.5z'/></svg>" );
      animation: spin 1000ms linear infinite;
    }
    &::after {
      content: attr( data-button-state-loading );
    }
  }

  ///
  /// @modifier     Button Stateful Element Error
  /// @description  Container for error state.
  ///
  %m-button-stateful__element--error {
    &::before {
      content: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' width='100%' height='100%'><path d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/></svg>" );
    }
    &::after {
      content: attr( data-button-state-error );
    }
  }

  ///
  /// @modifier     Button Stateful Element Success
  /// @description  Container for success state.
  ///
  %m-button-stateful__element--success {
    &::before {
      content: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='100%' height='100%'><path d='M13.5 24.26L7.24 18l-2.12 2.12 8.38 8.38 18-18-2.12-2.12z'/></svg>" );
    }
    &::after {
      content: attr( data-button-state-success );
    }
  }

///
/// @modifier     Button Stateful Loading
/// @description  Button in loading state.
///
%m-button-stateful--loading {
  %m-button-stateful__state--default,
  %m-button-stateful__state--loading {
    transform: translateY( -100% );
  }
}

///
/// @modifier     Button Stateful Success
/// @description  Button in success state.
///
%m-button-stateful--success {
  %m-button-stateful__state--default,
  %m-button-stateful__state--success {
    transform: translateY( -100% );
  }
}

///
/// @modifier     Button Stateful Error
/// @description  Button in error state.
///
%m-button-stateful--error {
  %m-button-stateful__state--default,
  %m-button-stateful__state--error {
    transform: translateY( -100% );
  }
}

} // enabled
