///-----------------------------------------------------------------------------
///  COMPONENT: TEXT
///-----------------------------------------------------------------------------
///
///  Container for textual content.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$c-text: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  max-width: 70ch,

  "vertical-rhythm":  ui-spacing(),
  "include_headings": true,
  "include_tables":   true,

), $c-text );


@if ( ui-load( "components", "text" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: TEXT
 *-----------------------------------------------------------------------------*
 *
 *  Container for textual content.
 *
 */

///
/// @block        Text
/// @description  Default text block.
///
%c-text {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: map-get( $_config, "max-width" );

  > * + * {
    margin-top: map-get( $_config, "vertical-rhythm" );
  }
  > p + p {
    margin-top: map-get( $_config, "vertical-rhythm" ) / 2;
  }

  p {
    word-break: break-all;
  }

  p a {
    @extend %o-link !optional;
  }

  ul {
    @extend %o-list--disc !optional;
  }
  ol {
    @extend %o-list--decimal !optional;
  }

  @if ( map-get( $_config, "include_headings" ) == true ) {

  h1, h2, h3, h4, h5, h6 {
    @extend %o-heading !optional;
  }
  h1 { @extend %o-heading--h1 !optional; }
  h2 { @extend %o-heading--h2 !optional; }
  h3 { @extend %o-heading--h3 !optional; }
  h4 { @extend %o-heading--h4 !optional; }
  h5 { @extend %o-heading--h5 !optional; }
  h6 { @extend %o-heading--h6 !optional; }

  } // include_headings

  @if ( map-get( $_config, "include_tables" ) == true ) {

  table {
    @extend %o-table !optional;
  }

  } // include_tables

}

} // ui-load()
