///-----------------------------------------------------------------------------
///  COMPONENT: INPUT CONTROL
///-----------------------------------------------------------------------------
///
///  Customized checkbox and radio inputs.
///

@if ( ui-load( "components", "input-control" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: CONTROL INPUT
 *-----------------------------------------------------------------------------*
 *
 *  Customized checkbox and radio inputs.
 *
 */

///
/// @block        Control
/// @description  Default input control.
///
/// 1. hide default input
/// 2. replaced input
/// 3. checkbox indicator
/// 4. radio indicator
///
%c-input-control {

  --size: 1.25em;
  --margin: 0.375em;
  --border-radius: 4px;

  --color: var(--input-color);
  --background: var(--input-background);
  --border: var(--input-border);
  --box-shadow: var(--input-box-shadow);

  --color--hover: var(--input-color--hover);
  --background--hover: var(--input-background--hover);
  --border--hover: var(--input-border--hover);
  --box-shadow--hover: var(--input-box-shadow--hover);

  --color--focus: var(--input-color--focus);
  --background--focus: var(--input-background--focus);
  --border--focus: var(--input-border--focus);
  --box-shadow--focus: var(--input-box-shadow--focus);

  --color--checked: var(--color-white);
  --background--checked: var(--color-primary);
  --border--checked: 0;
  --box-shadow--checked: none;

  display: inline-flex;
  align-items: center;

  position: relative;

  [direction="rtl"] & {
    flex-direction: row-reverse;
  }

  /// [1] ///
  input {
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -1;
  }

  input + * {
    padding-left: calc( var(--size) + var(--margin) );
  }

  /// [2] ///
  input + *::before {
    @extend %transition !optional;
    content: "";
    pointer-events: none;

    position: absolute;
    top: 0; left: 0;

    flex: 0 1 auto;
    display: inline-flex;
    vertical-align: center;

    width: 1em;
    height: 1em;
    margin-right: var(--margin);

    font-size: var(--size);

    color: var(--color);
    background: var(--background);
    border: var(--border);
    box-shadow: var(--box-shadow);

    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
  }

  input + *:hover::before {
    color: var(--color--hover);
    background: var(--background--hover);
    border: var(--border--hover);
    box-shadow: var(--box-shadow--hover);
  }

  input:focus + *::before {
    color: var(--color--focus);
    background: var(--background--focus);
    border: var(--border--focus);
    box-shadow: var(--box-shadow--focus);
    outline: 0.15em auto var(--color-primary);
    outline-offset: 0.15em;
  }

  html:not(.no-js):not(.user-is-tabbing) & input:focus + *::before {
    outline: none;
  }

  input:checked + *::before {
    color: var(--color--checked);
    background: var(--background--checked);
    border: var(--border--checked);
    box-shadow: var(--box-shadow--checked);
  }

  input:disabled + *,
  input:disabled + *::before {
    opacity: 0.7;
    cursor: not-allowed;
  }

  /// [3] ///
  input[type="checkbox"] + *::before {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: var(--border--radius);
  }
  input[type="checkbox"]:checked + *::before {
    background-image: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-6 -6 32 32'><path d='M20,6l-11,11l-5,-5' stroke-linecap='round' stroke-width='4' stroke='%23fff' fill='none' stroke-linejoin='round'></path></svg>" );
  }

  /// [4] ///
  input[type="radio"] + *::before {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  input[type="radio"]:checked + *::before {
    background-image: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='100%' height='100%'><circle fill='%23fff' cx='12' cy='12' r='5'/></svg>" );
  }

}

} // ui-load()
