///-----------------------------------------------------------------------------
///  COMPONENT: INPUT TEXT
///-----------------------------------------------------------------------------
///
///  Customized input which contains text.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$c-input-text: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  padding: 0.5em 0.75em,

  border-radius: null,

  "placeholder-color": rgba( ui-color( "default" ), 0.45 ),
  "caret-color": null,

  "default": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: inset 0 0 0 1px rgba( ui-color( "default" ), 0.25 ),
  ),
  "hover": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: null,
  ),
  "focus": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: inset 0 0 0 1px ui-color( "primary" ),
  ),
  "filled": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: null,
  ),

), $c-input-text );


@if ( ui-load( "components", "input-text" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: INPUT TEXT
 *-----------------------------------------------------------------------------*
 *
 *  Customized input which contains text.
 *
 */

///
/// @block        Input Text
/// @description  Default text input.
///
/// [1] style for when input is filled, requires the placeholder attribute
///
%c-input-text {
  @extend %transition !optional;

  background-clip: padding-box;
  appearance: none;

  width: 100%;
  padding: map-get( $_config, "padding" );

  border: 0;

  border-radius: map-get( $_config, "border-radius" );

  color: map-get-deep( $_config, "default", "color" );
  background: map-get-deep( $_config, "default", "background" );
  border: map-get-deep( $_config, "default", "border" );
  box-shadow: map-get-deep( $_config, "default", "box-shadow" );

  &:hover {
    color: map-get-deep( $_config, "hover", "color" );
    background: map-get-deep( $_config, "hover", "background" );
    border: map-get-deep( $_config, "hover", "border" );
    box-shadow: map-get-deep( $_config, "hover", "box-shadow" );
  }

  &:focus {
    color: map-get-deep( $_config, "focus", "color" );
    background: map-get-deep( $_config, "focus", "background" );
    border: map-get-deep( $_config, "focus", "border" );
    box-shadow: map-get-deep( $_config, "focus", "box-shadow" );
    caret-color: map-get( $_config, "caret-color" );
  }

  /// [1] ///
  &[placeholder]:not(:placeholder-shown) {
    color: map-get-deep( $_config, "filled", "color" );
    background: map-get-deep( $_config, "filled", "background" );
    border: map-get-deep( $_config, "filled", "border" );
    box-shadow: map-get-deep( $_config, "filled", "box-shadow" );
  }

  &::placeholder {
    color: map-get( $_config, "placeholder-color" );
  }
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

} // ui-load()
