///-----------------------------------------------------------------------------
///  COMPONENT: INPUT SELECT
///-----------------------------------------------------------------------------
///
///  Customized select input.
///

@if ( ui-load( "components", "input-select" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: INPUT SELECT
 *-----------------------------------------------------------------------------*
 *
 *  Customized select input.
 *
 */

///
/// @block        Input Select
/// @description  Default Input Select block.
///
/// [1] placeholder text
/// [2] browser-specific fixes for hiding dropdown indicator
/// [3] dropdown indicator
///
%c-input-select {

  --padding: var(--input-padding);
  --border-radius: var(--input-border-radius);
  --placeholder-color: rgba( var(--color-gray-rgb), 0.8 );
  --indicator-size:  0.25em;

  --color: var(--input-color);
  --background: var(--input-background);
  --border: var(--input-border);
  --box-shadow: var(--input-box-shadow);

  --color--hover: var(--input-color--hover);
  --background--hover: var(--input-background--hover);
  --border--hover: var(--input-border--hover);
  --box-shadow--hover: var(--input-box-shadow--hover);

  --color--focus: var(--input-color--focus);
  --background--focus: var(--input-background--focus);
  --border--focus: var(--input-border--focus);
  --box-shadow--focus: var(--input-box-shadow--focus);

  --color--filled: var(--input-color--filled);
  --background--filled: var(--input-background--filled);
  --border--filled: var(--input-border--filled);
  --box-shadow--filled: var(--input-box-shadow--filled);

  display: inline-block;
  position: relative;
  width: 100%;

  select {
    @extend %transition !optional;

    appearance: none;
    outline: none;
    display: block;

    width: 100%;
    padding: var(--padding);
    padding-right: calc( var(--padding) * 2 + var(--indicator-size) );

    border-radius: var(--border-radius);

    color: var(--color);
    background: var(--background);
    border: var(--border);
    box-shadow: var(--box-shadow);

    &:hover {
      color: var(--color--hover);
      background: var(--background--hover);
      border: var(--border--hover);
      box-shadow: var(--box-shadow--hover);
    }

    &:focus {
      color: var(--color--focus);
      background: var(--background--focus);
      border: var(--border--focus);
      box-shadow: var(--box-shadow--focus);
    }

    /// [1] ///
    &:invalid {
      color: var(--placeholder-color);
    }

    /// [2] ///
    &:focus:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 $black !important;
    }
    &::-ms-expand {
      display: none !important;
    }
    @-moz-document url-prefix() {
      text-indent: 0.01px !important;
      text-overflow: '' !important;
      padding-right: calc( var(--padding) * 2 + var(--indicator-size) ) !important;
    }
  }

  /// [3] ///
  &::before, &::after {
    @extend %transition !optional;

    content: "";
    display: inline-block;
    pointer-events: none;

    position: absolute;
    right: 1em;

    width: 0;
    height: 0;

    border: var(--indicator-size) solid transparent;

    opacity: 0.75;
  }
  &::before {
    top: 50%;
    margin-top: 0.075em;
    border-top-color: currentColor;
  }
  &::after {
    bottom: 50%;
    margin-bottom: 0.075em;
    border-bottom-color: currentColor;
  }
}

///
/// @modifier     Input Select Multiple
/// @description  Select with multiple choices.
///
/// [1] hide the replaced dropdown indicator
/// [2] hide the option used as a placeholder
///
%c-input-select--multiple {

  /// [1] ///
  &::before, &::after {
    display: none;
  }

  select[multiple] {
    height: auto;
    padding: 0;
  }

  select[multiple] > option {
    margin-top: 0;
    padding: var(--padding);

    &:not(:first-child) {
      border-top: var(--border);
    }

    /// [2] ///
    &[value=""]:first-child {
      display: none;
    }

  }

}

} // ui-load()
