///-----------------------------------------------------------------------------
///  COMPONENT: INPUT SELECT
///-----------------------------------------------------------------------------
///
///  Customized select input.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$c-input-select: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  padding: 0.5em 0.75em,

  border-radius: null,

  "placeholder-color": rgba( map-get-deep( ui-input( "default" ), "color" ), 0.5 ),
  "indicator-size": 0.25em,

  "default": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: inset 0 0 0 1px rgba( ui-color( "default" ), 0.25 ),
  ),
  "hover": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: null,
  ),
  "focus": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: inset 0 0 0 1px ui-color( "primary" ),
  ),
  "filled": (
    color:      null,
    background: null,
    border:     null,
    box-shadow: null,
  ),

), $c-input-select );


@if ( ui-load( "components", "input-select" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: INPUT SELECT
 *-----------------------------------------------------------------------------*
 *
 *  Customized select input.
 *
 */

$_pad:        map-get( $_config, "padding" );
$_pad_side:   if( type-of( $_pad ) == "list", nth( ui-input( "padding" ), 2 ), $_pad );
$_pad_right:  em( ( $_pad_side * 2 ) ) + em( map-get( $_config, "indicator-size" ) );

///
/// @block        Input Select
/// @description  Default Input Select block.
///
/// [1] placeholder text
/// [2] browser-specific fixes for hiding dropdown indicator
/// [3] dropdown indicator
///
%c-input-select {
  display: inline-block;
  position: relative;
  width: 100%;

  select {
    @extend %transition !optional;

    appearance: none;
    display: block;

    width: 100%;
    padding: $_pad;
    padding-right: $_pad_right;

    color: map-get-deep( $_config, "default", "color" );
    background: map-get-deep( $_config, "default", "background" );
    border: map-get-deep( $_config, "default", "border" );
    box-shadow: map-get-deep( $_config, "default", "box-shadow" );

    &:hover {
      color: map-get-deep( $_config, "hover", "color" );
      background: map-get-deep( $_config, "hover", "background" );
      border: map-get-deep( $_config, "hover", "border" );
      box-shadow: map-get-deep( $_config, "hover", "box-shadow" );
    }

    &:focus {
      color: map-get-deep( $_config, "focus", "color" );
      background: map-get-deep( $_config, "focus", "background" );
      border: map-get-deep( $_config, "focus", "border" );
      box-shadow: map-get-deep( $_config, "focus", "box-shadow" );
    }

    /// [1] ///
    &:invalid {
      color: map-get( $_config, "placeholder-color" );
    }

    border-radius: map-get( $_config, "border-radius" );
    outline: none;

    /// [2] ///
    &:focus:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 $black !important;
    }
    &::-ms-expand {
      display: none !important;
    }
    @-moz-document url-prefix() {
      text-indent: 0.01px !important;
      text-overflow: '' !important;
      padding-right: $_pad_right !important;
    }
  }

  /// [3] ///
  &::before, &::after {
    @extend %transition !optional;

    content: "";
    display: inline-block;
    pointer-events: none;

    position: absolute;
    right: $_pad_side;

    width: 0;
    height: 0;

    border: map-get( $_config, "indicator-size" ) solid transparent;

    opacity: 0.75;
  }
  &::before {
    top: 50%;
    margin-top: 0.075em;
    border-top-color: currentColor;
  }
  &::after {
    bottom: 50%;
    margin-bottom: 0.075em;
    border-bottom-color: currentColor;
  }
}

///
/// @modifier     Input Select Multiple
/// @description  Select with multiple choices.
///
/// [1] hide the replaced dropdown indicator
/// [2] hide the option used as a placeholder
///
%c-input-select--multiple {

  /// [1] ///
  &::before, &::after {
    display: none;
  }

  select[multiple] {
    height: auto;
    padding: 0;
  }

  select[multiple] > option {
    margin-top: 0;
    padding: $_pad;

    &:not(:first-child) {
      border-top: map-get-deep( $_config, "default", "border" );
    }

    /// [2] ///
    &[value=""]:first-child {
      display: none;
    }

  }

}

} // ui-load()
