///-----------------------------------------------------------------------------
///  COMPONENT: INPUT TEXT
///-----------------------------------------------------------------------------
///
///  Customized input which contains text.
///

@if ( ui-load( "components", "input-text" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  COMPONENT: INPUT TEXT
 *-----------------------------------------------------------------------------*
 *
 *  Customized input which contains text.
 *
 */

///
/// @block        Input Text
/// @description  Default text input.
///
/// [1] style for when input is filled, requires the placeholder attribute
///
%c-input-text {

  --padding: var(--input-padding);
  --border-radius: var(--input-border-radius);
  --placeholder-color: rgba( var(--color-gray-rgb), 0.8 );
  --caret-color: var(--color-primary);

  --color: var(--input-color);
  --background: var(--input-background);
  --border: var(--input-border);
  --box-shadow: var(--input-box-shadow);

  --color--hover: var(--input-color--hover);
  --background--hover: var(--input-background--hover);
  --border--hover: var(--input-border--hover);
  --box-shadow--hover: var(--input-box-shadow--hover);

  --color--focus: var(--input-color--focus);
  --background--focus: var(--input-background--focus);
  --border--focus: var(--input-border--focus);
  --box-shadow--focus: var(--input-box-shadow--focus);

  --color--filled: var(--input-color--filled);
  --background--filled: var(--input-background--filled);
  --border--filled: var(--input-border--filled);
  --box-shadow--filled: var(--input-box-shadow--filled);

  @extend %transition !optional;

  background-clip: padding-box;
  appearance: none;

  width: 100%;
  padding: var(--padding);

  border: 0;

  border-radius: var(--border-radius);

  color: var(--color);
  background: var(--background);
  border: var(--border);
  box-shadow: var(--box-shadow);
  caret-color: var(--caret-color);

  &:hover {
    color: var(--color--hover);
    background: var(--background--hover);
    border: var(--border--hover);
    box-shadow: var(--box-shadow--hover);
  }

  &:focus {
    color: var(--color--focus);
    background: var(--background--focus);
    border: var(--border--focus);
    box-shadow: var(--box-shadow--focus);
  }

  &::placeholder {
    color: var(--placeholder-color);
  }

  /// [1] ///
  &[placeholder]:not(:placeholder-shown) {
    color: var(--color--filled);
    background: var(--background--filled);
    border: var(--border--filled);
    box-shadow: var(--box-shadow--filled);
  }

  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

} // ui-load()
