///-----------------------------------------------------------------------------
///  COMPONENT: MENU
///-----------------------------------------------------------------------------
///
///  A block of stacked links.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$c-menu: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-extend( (

  padding: null,

  background: null,
  border: null,

  border-radius: null,

  "item": (
    padding: null,

    color: null,
    background: null,
    border: null,
  ),
  "item--hover": (
    color: null,
    background: null,
    border: null,
  ),

), $c-menu );


@if ( ui-load( "components", "menu" ) == true ) {
/*---------------------------------------------------------------------------*
 *  COMPONENT: MENU
 *---------------------------------------------------------------------------*
 *
 *  A block of stacked links.
 *
 */

///
/// @block        Menu
/// @description  Default Menu block.
///
/// [1] fix overflowing border-radius bug (Chrome)
///
%c-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  position: relative;

  background: map-get( $_config, "background" );
  border: map-get( $_config, "border" );

  border-radius: map-get( $_config, "border-radius" );

  > * {
    /// [1] ///
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    &:not(:first-child) {
      border-top: map-get-deep( $_config, "item", "border" );
      &:hover { border-top: map-get-deep( $_config, "item--hover", "border" ); }
    }
  }
}

  ///
  /// @element      Menu Item
  /// @description  Item inside the menu.
  ///
  %c-menu__item {
    @extend %transition !optional;

    display: flex;
    align-items: center;

    position: relative;
    padding: map-get-deep( $_config, "item", "padding" );

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;

    color: map-get-deep( $_config, "item", "color" );
    background: map-get-deep( $_config, "item", "background" );

    &:hover {
      color: map-get-deep( $_config, "item--hover", "color" );
      background: map-get-deep( $_config, "item--hover", "background" );
    }

  }

} // ui-load()
