///-----------------------------------------------------------------------------
///  LAYOUT: FLUID PAD
///-----------------------------------------------------------------------------
///
///  Responsive padding which increases relatively to the viewport width.
///

@if ( ui-load( "layout", "fluid-pad" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  LAYOUT: FLUID PAD
 *-----------------------------------------------------------------------------*
 *
 *  Responsive padding which increases relatively to the viewport width.
 *
 */

///
/// @block        Fluid Pad
/// @description  Defaul Fluid Pad block.
///
%l-fluid-pad {
  padding: var(--pad, 1.5rem);
  @inlude bp( "large" ) {
    padding: calc(var(--pad, 1.5rem) * var(--pad-factor, 2));
  }
}

///
/// @modifier     Fluid Pad Sides
/// @description  Pad only on left and right sides.
///
%l-fluid-pad--sides {
  padding-top: 0;
  padding-bottom: 0;
}

} // ui-load()
