///-----------------------------------------------------------------------------
///  LAYOUT: GRID CSS
///-----------------------------------------------------------------------------
///
///  Simple grid system based on CSS Grid.
///

///
/// @var    {Map}  Element settings.
/// @access public
///
$l-grid-css: () !default;

///
/// @var    {Map}
/// @access private
///
$_config: map-merge( (

  "grid-gap": ui-spacing(),
  "item-min-width": 320px,

  "polyfill": true,

), $l-grid-css );


@if ( ui-load( "layout", "grid-css" ) == true ) {
/*-----------------------------------------------------------------------------*
 *  LAYOUT: GRID CSS
 *-----------------------------------------------------------------------------*
 *
 *  Simple grid system based on CSS Grid.
 *
 */

$_gap: map-get( $_config, "grid-gap" );
$_imw: map-get( $_config, "item-min-width" );
$_pf:  map-get( $_config, "polyfill" );

///
/// @block        Grid
/// @description  Default Grid block.
///
%l-grid {
  display: grid;
  grid-gap: $_gap;
  grid-template-columns: repeat( auto-fill, minmax( $_imw, 1fr ) );
  grid-template-columns: repeat( auto-fill, minmax( #{'min('}#{$_imw}#{', 100%)'}, 1fr ) );
  justify-items: center;

  width: 100%;
  > * { width: 100%; }
}

///
/// @modifier     Grid Compact
/// @description  Compact Grid.
///
%l-grid--compact {
  grid-gap: $_gap / 2;
}

///
/// @modifier     Grid No Gap
/// @description  Grid without gaps.
///
%l-grid--no-gap {
  grid-gap: 0;
}


  @if ( map-get( $_config, "polyfill" ) == true ) {
  /* Polyfill for IE 10 AND 11 */

  /// 1 column on small
  @media screen and ( -ms-high-contrast: none ), ( -ms-high-contrast: active ) {

    ///
    /// @block  Grid
    ///
    %l-grid {
      display: block;
      width: 100%;
      word-spacing: -0.31em;

      > * {
        display: inline-block;
        width: 100%;
        margin: $_gap 0 0 0;
        text-align: left;
        word-spacing: 0;
      }
    }

    ///
    /// @modifier  Grid Compact
    ///
    %l-grid--compact {
      > * {
        margin-top: $_gap / 2;
      }
    }

    ///
    /// @modifier  Grid No Gap
    ///
    %l-grid--no-gap {
      > * {
        margin-top: 0;
      }
    }

  }

  /// 2 columns on medium
  @media screen and ( min-width: ui-breakpoint( "medium" ) ) and ( -ms-high-contrast: none ), ( -ms-high-contrast: active ) {
    $_w: 50%;

    ///
    /// @block  Grid
    ///
    %l-grid {
      width: auto;
      margin-left: -#{$_gap / 2};
      margin-right: -#{$_gap / 2};

      > * {
        width: calc(#{$_w} - #{$_gap});
        margin: $_gap #{$_gap / 2} 0 #{$_gap / 2};
      }
    }

    ///
    /// @modifier  Grid Compact
    ///
    %l-grid--compact {
      width: auto;
      margin-left: -#{$_gap / 4};
      margin-right: -#{$_gap / 4};

      > * {
        width: calc(#{$_w} - #{$_gap / 2});
        margin: #{$_gap / 2} #{$_gap / 4} 0 #{$_gap / 4};
      }
    }

    ///
    /// @modifier  Grid No Gap
    ///
    %l-grid--no-gap {
      margin-left: 0;
      margin-right: 0;

      > * {
        width: $_w;
        margin: 0;
      }
    }

  }

  /// 3 columns on large
  @media screen and ( min-width: ui-breakpoint( "large" ) ) and ( -ms-high-contrast: none ), ( -ms-high-contrast: active ) {
    $_w: 33.3333%;

    ///
    /// @block  Grid
    ///
    %l-grid {
      > * {
        width: calc(#{$_w} - #{$_gap});
      }
    }

    ///
    /// @modifier  Grid Compact
    ///
    %l-grid--compact {
      > * {
        width: calc(#{$_w} - #{$_gap / 2});
      }
    }

    ///
    /// @modifier  Grid No Gap
    ///
    %l-grid--no-gap {
      > * {
        width: $_w;
      }
    }

  }

  /// 4 columns on wide
  @media screen and ( min-width: ui-breakpoint( "wide" ) ) and ( -ms-high-contrast: none ), ( -ms-high-contrast: active ) {
    $_w: 25%;

    ///
    /// @block  Grid
    ///
    %l-grid {
      > * {
        width: calc(#{$_w} - #{$_gap});
      }
    }

    ///
    /// @modifier  Grid Compact
    ///
    %l-grid--compact {
      > * {
        width: calc(#{$_w} - #{$_gap / 2});
      }
    }

    ///
    /// @modifier  Grid No Gap
    ///
    %l-grid--no-gap {
      > * {
        width: $_w;
      }
    }

  }

  } // polyfill

} // ui-load()
